<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="bgimg">
        <div class="trans">
           <div class="content">
            <div class="box">
                <!-- <p>May I know ,Who are you?</p> -->
                <div class="container">
                    <a href=""><span>----------</span>Employee</a>
                    <a href=""><span>----------</span>Manager</a>
                    <a href=""><span>-----------</span>PMO</a>
                </div>
            </div>
           </div>
        </div>
    </div>
</body>
</html>