
<!-- https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkIwIRUCyMgEruR69KbnfE2sOssFc5vyLinxYwf77_Z5D8541-Dwcux4PfVB8_2H7j8QM&usqp=CAU -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <section>
    <div>

      <button type="button" routerLink="whoareyou" class="btn  btn-lg rounded-pill "> Let's Get Started</button>
      <!-- <a href="" routerLink="whoareyou">Hello</a> -->
    <button type="button" class="btn  btn-lg rounded-pill ">Let's Get Started </button>
    

    </div>
    <aside><router-outlet ></router-outlet></aside>
  </section>
    <app-nav-bar></app-nav-bar>
    
</body>
</html>  